<br>
<div class="form-group">
  <label class="col-form-label" for="inputDefault"></label>
  <form action '/message/show' method="post">
    <input type="hidden" name="authenticity_token" value="<%=
    form_authenticity_token %>">
    <div class="input-bar">
    	<input type="text" name="first_name">
	</div>
	<div class="input-submit">
		<input type="submit" name="Envoyer">
	</div>
</div>

<br>
<p> <%= link_to "➡️ Clique ici pour voir les gossips les plus croustillants du moment ⬅️", "gossips" %> </p>
