<% if @gossip != nil %>
 <% if @gossip.errors.any? %>
  <% else %>
  <p>Trop bien ton potin a été sauvegardé bravo !</p>
<% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col"><h1>Titre</h1></div>
    <div class="col"><h1>Auteur</h1></div>
    <div class="col"><h1>Contenu</h1></div>
    <div class="col"><h1>Ville de l'auteur</h1></div>

    <div class="w-100"></div>

    <div class="col"><%=@gossip.title %></div>
    <% @full_name=@gossip.user.first_name + " "+ @gossip.user.last_name %>
    <div class="col"><%= link_to(@full_name, "/users/#{@gossip.user.id}") %></div>
    <div class="col"><%=@gossip.content %></div>
    <div class="col"><%= link_to(@gossip.user.city.name, "/cities/#{@gossip.user.city.id}") %></div>
  </div>
</div>
