<br><br><br><br>
<p>Pour toute question vous pouvez nous contacter à l'adresse suivante : </p>
<h6>THPBDX@gmail.com</h6><br>
<p>ou directement sur Slack :</p>
<h6>@Etienne, @Morgane, @Misa, @CRIS, @JohnnyPepere</h6>